
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px; 
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}


.search-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 8px 15px;
    border-radius: 4px;
}

.search-input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
}

.cart-img {
    width: 35px;
    cursor: pointer;
}
